body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://img.freepik.com/free-vector/cinema-film-strips-blue-background_1017-23456.jpg?w=2000");
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
}
.navbar {
  margin-top: 4%;
}
.navbar-brand {
  color: #fff;
  font-size: 1.8em;
  font-size: 700;
  margin-left: 10%;
}
.nav {
  margin-right: 10%;
}
.nav li a {
  color: #aaa;
  font-size: 1.2em;
}
.info {
  margin-top: 15%;
  transform: translateY(-15%);
}
.info h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
.info p {
  font-size: 2em;
  font-weight: 500;
  color: #aaa;
  letter-spacing: 2px;
}

button {
  color: #f9f9f9;
  background: #317ac7;
  border-radius: 10px;
}
