<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Home page</title>
  </head>
  <body>
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 navbar">
            <nav class="nav nav-pills nav-fill">
              <a class="nav-link active" href="/">HOME</a>
              <a class="nav-link" href="/user/login">LOGIN</a>
              <a class="nav-link" href="/movie/getmovies">MOVIE</a>
              <a class="nav-link" href="/user/create">REGISTER</a>
            </nav>
          </div>
          </div>
          <div class="col text-center info">
            <h1 class="text-center">WELCOME TO CINEPHILE</h1>
             <p>Unlimited movies, TV shows, and more.</p>
             <button><a href="/user/create" class="btn btn-primary ">GET STARTED</a></button>
          </div>
        </div>
      </div>
    
  </body>
</html>
